@import url(variables.css);
@import url(fonts.css);


*{
    box-sizing: border-box;
    font-family: myfont;
}

body{
    background-color: gray;

   
}

.container{
    background-color: var(--cont-bg-color);
    width: 80vw;
    margin: auto;
    /* padding-left: 8rem;
    padding-right: 8rem;   */
    padding-top: 1rem;
}

.header{
    width: 100%;
    display: grid;
    justify-self: center;
    grid-template-columns: 40% 60%;

}

.logo{
    max-width: 7vw;
    display: grid;
    justify-self: flex-start;
    align-self: center;
}

.header-nav{
    display:grid;
    grid-template-columns: repeat(5,auto);
    gap: 1rem;
    align-items: center;
    justify-items: right;

}

.nav-button{
    display: grid;
    align-self: center;
    /* margin-left: 4rem; */
   
} 

.nav-light{
    display: inline;
    text-decoration: none;
    /* margin-left: 2rem; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    font-family: myfont-bold;
    font-weight: 800;
    color: #000000;
}

.nav{
    display: block;
    text-decoration: none;
    font-family: myfont-bold;
    font-weight: 800;
    color: #000000;
}

.header-logo{
display: grid;
justify-content: left;
}

.main{
    width: 100%;
    justify-self: center;
    padding-top: 1rem;
}

.main-section{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.main-text{
    width: 100%;
}

.main-image{
    width: 100%;
}



.main2-image{
    width: 100%;
    float: right;
    /* padding: 1.5rem; */
    border: 1px none black;
    /* border-radius: 50%;   */
    text-align: center;
    shape-outside:circle();


}

.main-bold{
    font-family: myfont-extrabold;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.1;
}

.main-description{
    font-weight: 900;
    /* text-align: justify; */
    margin: 0;
    padding-bottom: 2rem;

}

.main-light{
    margin: 0;
    padding-top: 5rem;
    font-family: myfont-light;
}

.main-button-box{
    display: grid;
    width: 50%;
    grid-template-columns: auto auto;
    
}

.left-button{
    width: 50%;
}

.right-button{
    width: 50%;
}

.button{
    font-weight: 900;
    font-size:medium;
    text-decoration: none;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-right: 1rem;
}

.dark-button{
    color: #ffffff;
    background-color: var(--button-color);
    border-radius: 1.5rem;

}

.light-button{
    color: #000000;
    border: 2px solid #000000;
    border-radius: 1.5rem;

}

.dot{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-top: 3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

span{
    display: inline-block;
    margin-left: 1.5rem;
    padding-top: 1rem;
    vertical-align: bottom;
}

.dot-blue{
    margin-left: 0;
    margin-top: 0;
    background-color: rgb(96, 255, 234);
}

.dot-maueve{
    margin-left: 0;
    margin-top: 0;
    background-color: #E0B0FF;
}

.dot-green{
    margin-left: 0;
    margin-top: 2rem;
    background-color: var(--bg-color);
}

.dot-section{
    margin-left: 0;
    margin-bottom: 6rem;
}

.section-category-box{
    margin-top: 2rem;
}

.section-title{
    text-align: center;
    font-family: myfont-extrabold;

}

.section-description{
    text-align: center;
    font-weight: 900;
    margin-bottom: 3rem;

}


.icon{
    display: block;
    margin: auto;
    width: 50%;
    
}

.icon-title{
    text-decoration: none;
    display: block;
    text-align: center;
    color: #000000;
    font-family: myfont-extrabold;
}

.section-gallery-box{
    margin-top: 5rem;
}



.category-box{
    /* width: 8rem;
    height: 6rem; */
    border: 3px solid #78CDD7;
    border-radius: 12px;
    

}

.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.image{
    width: 90%;
}

.checked {
    color: orange;
  }

  .light-button:hover{
    background-color: var(--button-color);
    color: #ffffff;

  }

  .gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .image-title{
    margin: 0;
  }

  .vote-box{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
   
  }

  span{
    padding: 0;
    margin: 0;
  }

  .button-box{
    padding-top: 1.5rem;
  }

  .big-button-box{
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 3rem;
  }

  .big-button{
    text-decoration: none;
    color: #000000;
    font-family: myfont-extrabold;
    font-size: larger;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border: 1px solid #000000;
    border-radius: 1.5rem;

  }

  .big-button:hover{
    background-color: var(--button-color);
    color: #ffffff;
  }


.footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--foo-color);
}

.footer-box{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.footer-image{
    width: 100%;
    display: grid;
    justify-content: right;
}


.foo-image{
    width: 22rem;
    height: 20rem;
}

.foo-button{
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 1.3rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    margin-left: 1.5rem;
}

.footer-button-box{
    margin-top: 2rem;
}


@media screen and (max-width: 450px) {
    .container{
        width: 100vw;

    }
    .main2-image{
        width: 100%;
    }
    
}